@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-heading: "Poppins", sans-serif;
  --color-brand-orange: #FF6A00;
  --color-brand-orange-hover: #E55A00;
}

html {
  scroll-behavior: smooth;
}
